:root {
    --navy-blue: #001F3F;
    --elegant-gold: #FFD700;
    --subtle-gray: #CCCCCC;
    --creamy-white: #F5F5F5;
    --royal-burgundy: #800020;
    --soft-blush: #E6B8A2;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--navy-blue);
}

/* Make header sticky in desktop mode */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
	background-color: #ffffff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
	color: darkgray;
}

/* Update the style for the header and navigation links */
.logo {
    display: block;
    margin: 0 auto;
	max-width: 150px;
}

nav {
    margin-top: 20px;
}

/* Responsive styles for mobile devices */
@media (max-width: 767px) {
    header {
        position: relative;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.hero-section {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px; /* Adjust padding based on your design */
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero-section h1,
.hero-section p,
.cta-button {
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-section h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #800020; /* Royal Burgundy */
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #E6B8A2; /* Soft Blush */
}

.event-details-section {
    background-color: #f5f5f5;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.event-details-section h2 {
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
}

#map {
	width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

/* Container styling */
.form-container {
  max-width: 600px; /* Adjust the width based on your design */
  margin: 0 auto; /* Center the form container */
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .form-container {
    max-width: 100%;
  }
}

.countdown-section {
    background: linear-gradient(to right, #e0d5cf, #e1b382);
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.countdown-section h2 {
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
}

#countdown-timer {
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}


.guestbook-section {
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.guestbook-section h2 {
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1e1e1e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

#thankYouMessage {
    display: none;
    color: #4CAF50;
}

#resetButton {
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#resetButton:hover {
    background-color: #333;
}


.contact-section {
    background: linear-gradient(to right, #e0d5cf, #e1b382);
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
}


.footer-section {
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-media {
    text-align: center;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #e1b382;
}